@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Neucha';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Neucha.woff2') format('woff2');
}

/**     COLORS          **/

:root {
  --text: #2a2626;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --secondary: #908d8b;
  --bg-light: #f5f4f0;
  --bg-dark: #b09a81;
}

.primary {
  color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-light {
  background-color: var(--bg-light);
}

/**     TYPOGRAPHY      **/

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: 'Neucha';
  line-height: 120%;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  margin: 30px 0;
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

/**     FORMS         **/

button,
.btn {
  padding: 12px 24px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 160%;
  text-transform: uppercase;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: var(--primary-hover);
}

input[type="text"] {
  padding: 9px 15px 8px;
  font-family: inherit;
  font-size: 18px;
  line-height: 160%;
  border: 1px solid #E3E3E3;
  background-color: #fff;
}

/**     COMMON          **/

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: var(--text);
}

.content {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  color: #1085C5;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.bg-pattern {
  position: relative;
}

.bg-pattern:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  background-size: cover;
  background-image: url(../assets/images/background.png);
}

.gap-30 {
  gap: 30px;
}

section {
  padding: 100px 50px;
}

.img img {
  max-width: 100%;
}

/**     STYLES          **/

.img-main {
  position: absolute;
  top: 56px;
  right: -105px;
  height: 525px;
}

.img-main img {
  height: 100%;
}

.info-header {
  margin-top: 184px;
}

.btn-header {
  margin-top: 25px;
}

.video {
  width: 100%;
  max-width: 919px;
  height: 569px;
  border: none;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-video {
  margin-bottom: -200px;
}

.section-video+section {
  padding-top: 200px;
}

.section-video p {
  margin: 30px 0;
}

.distortions-nav {
  column-gap: 30px;
  row-gap: 22px;
}

.card {
  min-width: 290px;
  padding: 21px 24px;
  text-decoration: none;
  color: inherit;
  background: #fff;
  flex: 1;
}

.card .card-num {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: var(--primary-dark);
}

.card .card-title {
  margin: 37px 0 6px;
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 120%;
  color: var(--primary);
}

.card .card-descr {
  margin-top: 17px;
}

.card:hover {
  background-color: var(--primary);
  color: #fff;
}

.card:hover .card-num,
.card:hover .card-title {
  color: #fff;
}

.card.card-blank {
  padding: 0;
  font-family: 'Neucha', sans-serif;
  font-size: 52px;
  line-height: 120%;
  background: none;
  color: #fff;
  flex-basis: 48px;
}

.section-cards {
  padding-bottom: 100px;
}

.section-distortion:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  background-size: cover;
  background-image: url(../assets/images/background.png);
}

.section-distortion.dist-light {
  background-color: var(--bg-light);
}

.section-distortion.dist-light h4 {
  color: var(--secondary);
}

.section-distortion.dist-light .dist-bottom-header {
  background-color: var(--bg-dark);
  color: #fff
}

.section-distortion.dist-dark {
  background-color: var(--bg-dark);
  color: #fff;
}

.section-distortion.dist-dark:before {
  opacity: 0.1;
}

.section-distortion.dist-dark .dist-bottom-header {
  background-color: #fff;
  color: var(--bg-dark);
}

.section-distortion.dist-dark .dist-top {
  flex-direction: row-reverse;
}

.section-distortion .dist-img {
  min-width: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  object-fit: cover;
}

.section-distortion .dist-short {
  flex: 1;
}

.section-distortion .dist-bottom-header {
  position: relative;
  padding: 1px 10px;
  margin: 100px 0 3px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-distortion .dist-top {
  margin-bottom: 70px;
  position: relative;
}

.section-distortion .dist-bottom-content,
.section-distortion .dist-top {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.section-distortion .dist-top {
  gap: 50px;
}

.section-distortion .dist-bottom-content p {
  margin-bottom: 0;
}

footer {
  padding: 0;
}

.subscribe-block {
  max-width: 1140px;
  min-height: 190px;
  margin: 100px auto 0;
  padding: 0 55px;
  box-sizing: border-box;
  color: #fff;
  align-items: center;
}

.subscribe-block .subscribe-title {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
}

.subscribe-form label {
  display: block;
  margin: 3px 0 13px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
}

.subscribe-form .rules {
  font-size: 12px;
}

.footer-bottom {
  padding-top: 59px;
  margin-bottom: 114px;
  font-size: 14px;
}

.send-btn {
  padding: 14px 18px;
}

.send-btn:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/images/send.svg);
  background-repeat: no-repeat;
}